<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="poll">
    <div [routerLink]="['/poll', poll._id]" class="title btn-link">
      {{ poll.name }}
    </div>
    <div *ngIf="showDetails" class="result">
      <span>
        Most popular choice: &nbsp;&nbsp; {{ popularChoice.option }} ({{ popularChoice.percentage }} &#37;)
      </span>
      <span>
        <i (click)="onDeletePoll($event)" class="material-icons delete">delete_forever</i>
        <i class="material-icons link">link</i>
      </span>
    </div>
  </div>
</div>