.poll{
  margin: 10px 5px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #DDD;  
  border-radius: 2px;
  background: #FAFAFA;
}

.poll .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  cursor: pointer;
}

.poll .result{
  border-top: 1px solid #DDD;
  padding: 5px;
  padding-bottom: 10px;
  height: 35px;
}

.result .choice{
  margin-top: 5px;
  width: calc(100% - 100px);
  overflow: hidden;
  float: left;
  overflow: hidden;
  height: 20px;
}

.result .icons{
  width: 100px;
  float: right;
}

.material-icons{
  float: right;
  padding: 5px;
  cursor: pointer;
}

.material-icons.link:hover{
  color: #C87F0A;
}
.material-icons.delete:hover{
  color: #D62C1A;
}

input{
  position: fixed;
  width: 0px;
  opacity: 0;
}

.copied{
  color: #C87F0A;
}
.copied::after{
  content: "COPIED!";
  background: black;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 60px;
  right: 55px;
  padding: 5px 6px 7px 6px;
  border-radius: 2px;
  animation: hide .5s forwards;
  animation-delay: 1s;
}

@keyframes hide{
  100%{
    opacity: 0;
  }
}