.header{
  background: #18BC9C;
  margin-bottom: 40px;
}

.header h4{
  color: white;
  font-weight: bold;
}

canvas{
  max-width: 300px;
  margin: auto;
}

.btn-option{
  margin: 4px 5px;
}

.option-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}