<div class="row">
  <div class="header col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h4>{{ poll?.name }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <canvas *ngIf="poll" baseChart width="100%"
          [data]="chartData"
          [labels]="chartLabels"
          [chartType]="'doughnut'"
          [options]="chartOptions"
          (chartHover)="chartHovered($event)"></canvas>
      </div>

      <div class="option-container col-xs-12 col-sm-6">
        <button (click)="onVote(option)" class="btn btn-option btn-warning" *ngFor="let option of poll?.options">{{option}}</button>
      </div>

      <div class="add-option-container col-xs-12 col-sm-6">
        <input #optionInput type="text" id="optionInput">
        <button #optionButton *ngIf="authService.loggedIn()" (click)="onAddOption(optionInput, optionButton)" class="btn btn-info btn-option">Add option</button>
      </div>
    </div>
  </div>
</div>
